<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>

<body style="margin: 0;">
<table style="width: 100%; border-spacing: 0; font-size: 15px;">
    <tr>
        <th
                style="justify-content: center; font-size: 4rem; font-style: oblique; background-color: rgb(231, 231, 231); opacity: .6;">
            PRIME BOX
        </th>
    </tr>
    <tr>
        <td style="font-size: 30px; padding-bottom: 20px;">
            <h2 style="font-weight: 100;" th:utext="#{alert.title}">Alert</h2>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 20px;"
            th:utext="#{alert.message(${used})}">Message
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 20px;" th:utext="#{alert.message2}">Message2</td>
    </tr>
    <tr>
        <td style="padding-bottom: 60px;"><a th:href="@{'http://localhost:4200'}"
                                             th:utext="#{site}">Go to PRIME BOX</a></td>
    </tr>
    <tr>
        <td th:utext="#{tnx}">Thanks,</td>
    </tr>
    <tr>
        <td style="padding-bottom: 35px;" th:utext="#{team}">The PRIME BOX
            account team
        </td>
    </tr>
    <tr style="height: 40px">
        <td style="text-align: center; font-weight: 800; opacity: .6; font-style: italic; background-color: rgb(231, 231, 231);"
            th:utext=#{footer}>
            You
            are receiving this email because you have a PRIME BOX account.
        </td>
    </tr>
</table>

</body>

</html>